@import url(header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
}

.banner {
    background: #323232 url(../img/banner-contacto-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    position: relative;
}

.banner h2 {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 32%;
    left: 59.5%;
    bottom: 20;
}

.banner p {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 59%;
    left: 54.5%;
}

.main {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
}

.form {
    width: 60%;
}

.datos {
    width: 40%;
}

.form {
    display: block;
}

form {
    color: #999;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    width: 475px;
}

.sas {
    max-width: 450px;
    min-width: 450px;
    min-height: 100px;
    max-height: 100px;
}

form p {
    margin-bottom: 5px;
}

form p span {
    color: red;

}

form input,
textarea,
select {
    outline: none;
    border: 0;
}

.field {
    border: solid 1px #ccc;
    padding: 10px;
    width: 450px;
    margin-bottom: 20px;
    height: 25px;
}

.select {
    width: 472px;
    cursor: pointer;
    position: relative;
    display: flex;
    line-height: 1;
    overflow: hidden;
    appearance: none;
    height: 4em;
}

.center {
    text-align: center;
}

.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 15px 60px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
    border: 1px solid #2c9ffd;
    color: #2c9ffd;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background: #2c9ffd;
}

.map {
    width: 100%;
    margin: 40px auto;
}

.map iframe {
    width: 100%;
    height: 350px;
}

.dats {
    width: 160px;
    padding: 20px;
}

.tite {
    color: black !important;
    font-weight: 800;
    font-size: 12px !important;
    margin-top: 10px;
    text-transform: uppercase;
}

.dats p {
    font-size: 16px;
    line-height: 2;
    color: #6a6a6a;
    text-align: start;
}

.dats a {
    color: #2c9ffd;
}

i {
    color: #ccc;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

i:hover {
    color: #2c9ffd;
}